<h2>ポイント</h2>
<h4>現在のお持ちのポイント</h4>
<p>計　１００ポイント</p>

<h4>ポイント付与履歴</h4>
<table>
  <tr>
    <th>日付</th>
    <th>付与ポイント</th>
    <th>利用ポイント</th>
  </tr>

  <tr>
    <td>2020/12/11</td>
    <td>35 point</td>
    <td>50point</td>
  </tr>
</table>