<%= current_user.name %>さんのページ
<p>現在のポイント数</p>

<h2>次回予約</h2>

<table>
  <tr>
    <th>受け取り予定日</th>
    <td>
    　12月19日水曜日<br/>
      17時頃　受け取り予定
  　</td>
  </tr>

  <tr>
    <th>商品</th>
    <td>
      セット: ノーマルセット
      単品商品 : ドライヤー
                髭剃り
                保湿クリーム
    </td>
  </tr>

　<tr>
    <th>レンタル期間</th>
    <td>5日間</td>
  </tr>

  <tr>
    <th>受け取り場所</th>
    <td>
      成田空港　第３ターミナル @@付近
    </td>
  </tr>
</table>

<h2>未返却物</h2>

<table>
  <tr>
    <th>受渡日</th>
    <td>
    　11月19日水曜日<br/>
      17時23分　受け渡し完了
  　</td>
  </tr>

  <tr>
    <th>商品</th>
    <td>
      セット: ノーマルセット
      単品商品 : ドライヤー
                髭剃り
                保湿クリーム
      商品ナンバー: 1234456
    </td>
  </tr>

　<tr>
    <th>レンタル期間</th>
    <td>5日間</td>
  </tr>

  <tr>
    <th>受渡場所</th>
    <td>
      成田空港　第３ターミナル @@付近
    </td>
  </tr>

  <p>これから返却予定の方</p>
  <tr>
    <th>返却方法を選択</th>
    <td>
      セレクトボックス 自宅から配送
    </td>
  </tr>

  <tr>
    <th>配送完了ボタン</th>
    <td>送信</td>
  </tr>

  <p>延滞をご希望の方</p>
  <tr>
    <th>ご返却日時の選択</th>
    <td>カレンダーから選択　</td>
  </tr>

  <tr>
    <th>返却方法を選択</th>
    <td>
      セレクトボックス 自宅から配送
    </td>
  </tr>

  <tr>
    <th>延滞希望ボタン</th>
    <td>送信</td>
  </tr>
</table>
