<h2>クレジット情報編集</h2>

<%= form_with model:@creditcard,url:users_creditcards_path do |f|%>
  <table class="table table-bordered">
    <tr>
      <th>クレジット番号</th>
      <td><%= f.text_field :customer_id %></td>
    </tr>

    <tr>
      <th>クレジット名義</th>
      <td><%= f.text_field :card_id%></td>
    </tr>
  </table>
  <%= f.submit'変更を保存',class: "btn btn-primary" %>
<% end %>


