<h2>クレジット情報一覧</h2>

<table>
  <tr>
    <th>クレジット番号</th>
    <td></td>
  </tr>

  <tr>
    <th>クレジット名義</th>
    <td></td>
  </tr>

  <tr>
    <th>セキュリティーコード</th>
    <td></td>
  </tr>
</table>

<table>
  <tr>
    <th>クレジット番号</th>
    <td></td>
  </tr>

  <tr>
    <th>クレジット名義</th>
    <td></td>
  </tr>

  <tr>
    <th>セキュリティーコード</th>
    <td></td>
  </tr>

  <tr>
    <th></th>
    <td>
      <%= link_to '編集する',edit_users_creditcard_path %>
      <%= link_to '削除する',users_creditcard_path,method: :delete,data:{confirm:"本当に削除しますか？"} %>
    </td>
  </tr>
</table>