<h2>ブックマーク一覧</h2>

<table>
  <tr>
    <th></th>
    <th>商品名</th>
    <th>価格/1日</th>
    <th></th>
  </tr>

  <tr>
    <td>ラジオボタン</td>
    <td>ノーマルセット + ドライヤー</td>
    <td>1000円</td>
    <td>
      <%= link_to 'お気に入りを外す',users_favorite_path,method: :delete %>
    </td>
  </tr>
</table>

<p>選択商品を予約</p>