<table>
  <tr>
    <th>ジャンル検索</th>
  </tr>

  <tr>
    <td>洗面用具</td>
    <td>洗面用具</td>
  </tr>
</table>

<h4>セット商品一覧</h4>
 <%= link_to users_products_set_show_path() do %>
  <%= 写真 %>
  <%= 名前 %>
 <% end %>
<h4>単品商品一覧</h4>
