<p>スマホ一つで快適な旅を</p>

<%= link_to 'さあ、旅に出よう',users_combo_items_path %>

<p>このサイトは、トラベルグッツを旅先の場所で借ることができるサイトです。</p>
<p>①トラベルグッツ予約<br/>②指定場所で受け取り<br/>③好きな場所で返却</p>

<%= link_to '管理者はこちら',new_admin_session_path %>


