<h2>注文履歴一覧</h2>

<table>
  <tr>
    <th>受取日</th>
    <th>受取場所</th>
    <th>商品</th>
    <th>日数</th>
    <th>金額</th>
    <th>貸出返却ステータス</th>
    <th>注文詳細</th>
    <th></th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>ブックマーク</td>

  </tr>
</table>