<table>
  <tr>
    <th>ジャンル検索</th>
  </tr>

  <tr>
    <td>洗面用具</td>
    <td>洗面用具</td>
  </tr>
</table>

<%= link_to 'ジャンル新規作成',admins_product_kinds_path %>
<%= link_to 'セット一覧を見る',admins_products_set_index_path %>

<%= link_to new_admins_product_path do %>
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
<% end %>

<h4>全商品一覧</h4>
<table>
  <tr>
    <th>商品id</th>
    <th>商品名</th>
    <th>価格</th>
    <th>ジャンル</th>
    <th>販売ステータス</th>
    <th>セットステータス</th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>販売中</td>
    <td>ノーマルセット</td>
  </tr>
</table>
