<h2>貸出返却詳細</h2>

<table>
  <tr>
    <th>注文id</th>
    <th>注文者名</th>
    <th>注文者名（カナ）</th>
    <th>商品名</th>
    <th>受取場所</th>
    <th>返却場所</th>
    <th>貸出中</th>
    <th>返却済</th>
    <th>担当者名</th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>