<h2>管理者トップ</h2>
<%= current_admin.name %>さんようこそ

<%= link_to '本日の貸し出し一覧',admins_order_records_path %>

<%= link_to '本日の返却一覧',admins_order_records_path %>
検索窓を操作した画面に行きたい

<%= link_to 'お問い合わせ一覧', '#' %>