<%= current_admin.name %>さんようこそ
<h2>管理者トップ</h2>
<div class="wrap">
<button class="button"><%= link_to '貸出返却',admins_orders_path %></button>

<button class="button"><%= link_to '在庫',admins_orders_stock_path %></button>


<button class="button"><%= link_to 'お問い合わせ',admins_questions_path %></button>
</div>