<p>こんにちは<%= @resource.@email %>さん!</p>

<p>パスワードのリセットのリクエストを受け付けました。リセット
手続へ進む場合は下のリンクをクリック！</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに見覚えがない場合は、無視してください。</p>
<p>あなたのパスワードはこのリンクをクリックし、手続を終えるまで、新しいパスワードへの変更は完了しません。</p>
